* {
    margin: 0;
    padding: 0;
}

:root{
    --color-nav-link:#18191c;
    --color-nav-btn:#61666d;
    --color-nav-btn-back:#fb7299;
    --color-nav-search:#f1f2f3;
    --font-size-nav-link:20px;
    --font-size-nav-btn:16px;
    --gap-nav:40px
}

*{
    margin: 0;
    padding: 0;
    user-select: none;
    text-decoration: none;
    white-space: nowrap;
    transition: all 0.3s ease;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    padding: 0 24px;
}

nav div.link-group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-nav);
}

nav div.link-group a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-nav-link);
    font-size: var(--font-size-nav-link);
    text-decoration: none;
}

nav div.link-group a:hover{
    color: rgb(4, 0, 255);
}

nav div.link-group a:active{
    color: white;
}

nav div.search{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25%;
    background-color: var(--color-nav-search);
    padding: 10px 15px;
    border-radius: 8px;
    border: 1px solid #e3e5e7;
}

nav div.search input[type="text"]{
    background-color: transparent;
    border: none;
    outline: none;
    width: 90%;
}

nav div.btn-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--gap-nav);
}

nav div.btn-group a{
    color: var(--color-nav-btn-back);
    font-size: var(--font-size-nav-btn);
}

@media (width <= 1366px) {
    :root{
        --gap-nav: 10px;
    }
}