{% extends "base.html" %}

{% block title%}录音问答{% endblock %}

{% block head%}
<link rel="shortcut icon" href="#"/>
<link rel = "stylesheet" href="{{url_for('static',filename='css/index_1.css')}}">
{% endblock %}

{% block body%}
    <div class = "container">
        <button class = "btn" id="start">开始录音</button>
        <a href="{{ url_for('voiceQA.test_input') }}">
            <button class = "btn" id="stop">结束录音</button>
        </a>
    </div>

<script>
    var chunks = [];  
    var mediaRecorder;  
    var audioUrl;  
    
    navigator.mediaDevices.getUserMedia({ audio: { mimeType: 'audio/ogg; codecs=opus' } })  
        .then(function(stream) {  
            mediaRecorder = new MediaRecorder(stream);  
    
            mediaRecorder.ondataavailable = function(e) {  
                chunks.push(e.data);  
            };  
    
            mediaRecorder.onstop = function() {  
                var blob = new Blob(chunks, { 'type' : 'audio/ogg; codecs=opus' });  
                audioUrl = URL.createObjectURL(blob);  
    
                var xhr = new XMLHttpRequest();  
                xhr.onload = function(e) {  
                    if (this.readyState === 4) {  
                        console.log('上传成功');  
                    } else {  
                        console.log('上传失败');  
                    }  
                };  
                xhr.open('POST', '/record/save_recording');  
                xhr.setRequestHeader('Content-Type', 'audio/ogg'); // 添加Content-Type头部  
                xhr.send(blob);  
            };  
        })  
        .catch(function(err) {  
            console.log('获取麦克风权限失败：', err);  
        });  
    
    document.getElementById('start').addEventListener('click', function() {  
        chunks = [];  
        try {  
            mediaRecorder.start();  
        } catch (e) {  
            console.log('开始录音失败：', e);  
        }  
    });  
    
    document.getElementById('stop').addEventListener('click', function() {  
        try {  
            mediaRecorder.stop();  
        } catch (e) {  
            console.log('停止录音失败：', e);  
        }  
    });
</script>
{% endblock %}