<!DOCTYPE html>
<html lang = "en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{ url_for('static', filename='jquery/jquery.3.6.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/register.js') }}"></script>
    <link rel="favicon.ico" href="#"/>
    <link rel = "stylesheet" href="{{url_for('static',filename='css/register.css')}}">
    <title>安中医AI小帮手注册界面</title>
</head>

<body>
    <div class="box">
        <div class="left"></div>
        <div class="right">
            <h4>注 册</h4>
            <form method="POST">
                <input class="acc" type="text" placeholder="邮箱" id="exampleInputEmail1" aria-describedby="emailHelp" name="email">
                <input class="acc" type="text" placeholder="验证码" name="captcha">
                <button class="get-code" type="button" id="captcha-btn">获取验证码</button>
                <input class="acc" type="text" placeholder="用户名" name="username">
                <input class="acc" type="password" placeholder="密码" id="exampleInputPassword1" name="password">
                <input class="acc" type="password" placeholder="确认密码" name="password_confirm">
                <a href="./login_1.html" target="_self">
                 <button class="submit" type="submit">立即注册</button>
                </a>
            </form>
        </div>
    </div>
</body>

</html>